<div class="banner">
  <div class="dropdown">
    <button class="dropbtn">DAMS Models</button>
    <div id="myDropdown" class="dropdown-content">
      <%= link_to 'Create Object', new_object_resource_path %>
      <%= link_to 'Create Collection', new_collection_path %>
      <%= link_to 'Create Agent', new_agent_path%>
    </div>
  </div>
</div>
